{%extends 'base.html' %}
{%block title%}Profile{% endblock%}
{% block content%}
    <div class="container mt-5">
        <h2>My Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <h4>Update User Info</h4>
                    {{ user_form.as_p }}
                </div>
                <div class="col-md-6">
                    <h4>Update Profile</h4>
                    {{ profile_form.as_p }}
                    {% if request.user.profile.profile_picture %}
                        <img src="{{ request.user.profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" style="max-width: 200px;">
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'update' %}" class="btn btn-primary mt-3" type="button">Update Profile</a>
        </form>
        {% for message in messages %}
            <div class="alert alert-info mt-3">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock%}

